[Unit]
Description=Spawn FCGI php7 process 
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
SyslogLevel=err
ExecStart=/etc/nginx/bin/spawnproc

[Install]
WantedBy=multi-user.target
